COMPOSE_PROJECT_NAME=mochiai-n8n
N8N_HOST=n8n.mochiai.vn
SSL_EMAIL=admin@example.com
POSTGRES_USER=n8n
POSTGRES_DB=n8n
POSTGRES_PASSWORD=GENERATE_A_RANDOM_VALUE
N8N_ENCRYPTION_KEY=GENERATE_A_RANDOM_VALUE
